<!DOCTYPE html>
<html>

<head>
  <title>春节秒杀</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit" />
  <meta name="force-rendering" content="webkit" />
  <meta name="wap-font-scale" content="no" />
  <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
  <meta name="msapplication-tap-highlight" content="no" />
</head>

<body>
  <div id="app"></div>
</body>
<script type="text/javascript" src="./static/js/autoSize.js"></script>
<script type="text/javascript" src="./static/js/BaiduTongji.js"></script>

</html>