<!DOCTYPE html>
<html>

<head>
  <title>多多玩APP连续打卡赢好礼</title>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit" />
  <meta name="force-rendering" content="webkit" />
  <meta name="wap-font-scale" content="no" />
  <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
  <meta name="msapplication-tap-highlight" content="no" />
  <!-- <script src="https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/vconsole/2.5.1/vconsole.min.js"></script> -->
  <script type="text/javascript" src="https://wap.beeplaying.com/ErrorPage/sdkLink.js"></script>
  <script type="text/javascript" src="./static/js/autoSize.js"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
      border: none;
    }
  </style>
</head>

<body>
  <div id="app"></div>
</body>
<!-- 百度统计代码 -->
<script type="text/javascript" src="./static/js/BaiduTongji.js"></script>

</html>
