<!DOCTYPE html>
<html>

<head>
  <title>新人幸运大转盘</title>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit" />
  <meta name="force-rendering" content="webkit" />
  <meta name="wap-font-scale" content="no" />
  <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
  <meta name="msapplication-tap-highlight" content="no" />
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a {
      text-decoration: underline;
    }
  </style>
  <script type="text/javascript" src="./static/js/autoSize.js"></script>
</head>

<body>
  <div id="app"></div>
</body>
<!-- 百度统计代码 -->
<script type="text/javascript">
  window.onload = function () {
    setTimeout(function () {
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement('script')
        hm.src = 'https://hm.baidu.com/hm.js?f3deee26a8d237f460fe8a4b29fb8e5d'
        var s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(hm, s)
      })()
    }, 500)
    var curChannel = localStorage.getItem('APP_CHANNEL')
    if (curChannel == '100039') {
      try {
        window.bdminCloseFun = function () {
          //弹出挽留弹窗
          document.getElementById('sFrame').src = 'https://wap.beeplaying.com/rrzqClosePage/index_bd.html?t=' + Date.now();
          document.getElementById('sFrame').style.display = 'block';
        };

        var bdminObj = "bdminCloseFun";
        var scheme = 'baiduhaokan://action/backHandler/?goback_callback=' + encodeURIComponent(bdminObj);
        var iframe = document.createElement('iframe');
        iframe.style.display = 'none';
        iframe.src = scheme;
        console.log('iframe::', iframe);
        document.body.appendChild(iframe);
        setTimeout(function () {
          iframe.remove();
        }, 1000);

        // 关闭方法
        window.closeRRVideo = function () {
          document.getElementById('sFrame').style.display = 'none';
          location.href = 'baiduhaokan://action/goback';
        };
        window.closeRRVideo2 = function () {
          document.getElementById('sFrame').style.display = 'none';
        };
      } catch (e) {
        window.alert(e.message);
      }
    }
  }
</script>

</html>