<!DOCTYPE html>
<html>

<head>
  <title>游戏中心</title>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
  <meta name="renderer" content="webkit"/>
  <meta name="force-rendering" content="webkit"/>
  <meta name="wap-font-scale" content="no"/>
  <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
  <meta name="msapplication-tap-highlight" content="no"/>
  <!-- <meta name="screen-orientation" content="portrait" />
        <meta name="x5-orientation" content="portrait"/>
        <meta name="x5-page-mode" content="app"/> -->
  <!-- <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
  <!-- <script src="https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/vconsole/2.5.1/vconsole.min.js"></script> -->
  <style type="text/css">
    body,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    div,
    a,
    em,
    i,
    ul,
    li {
      margin: 0;
      padding: 0;
      line-height: 1;
    }

    ul li {
      list-style: none;
    }

    a {
      text-decoration: none;
    }
  </style>
  <script type="text/javascript" src="https://wap.beeplaying.com/ErrorPage/sdkLink.js"></script>
  <script type="text/javascript" src="./static/js/autoSize.js"></script>
</head>

<body>
<div id="app"></div>
</body>
<!-- 百度统计代码 -->
<script type="text/javascript" src="./static/js/BaiduTongji.js"></script>

</html>
